---
layout: app/app-layout
pagename: epc
---
<nav aria-label="breadcrumb" class="app-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">电子配件目录（EPC）</li>
  </ol>
</nav>

<section class="section main-container">
  <div class="common-wrapper">
    <div class="content-wrapper">
      <iframe src="./assets/modules/epc/index.html" frameborder="no" border="0"></iframe>
    </div>
  </div>
</section>
