---
layout: auth/auth-layout
themeTitle: 上海事成软件股份有限公司
---
<div class="auth-container">
	<div class="card">
		<header class="auth-header">
			<h2 class="guide">请选择相关车型：</h2>
		</header>
		<div class="auth-content">
          <div class="form-group">
            <label for="password">品牌</label>
            <select class="form-control">
              <option>上汽大通</option>
              <option>上汽荣威</option>
              <option>比亚迪</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password">车系</label>
            <select class="form-control">
              <option>轻客V80</option>
              <option>D90</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password">车型</label>
            <select class="form-control">
              <option>D90</option>
              <option>G10</option>
              <option>V80</option>
              <option>T60</option>
            </select>
          </div>
          <div class="form-group">
            <a class="btn btn-block btn-primary" href="epc.html">确认</a>
          </div>
		</div>
	</div>
	<div class="text-center">
		<a href="login.html" class="btn btn-secondary btn-sm">
			<i class="fa fa-arrow-left"></i> 返回登录页
		</a>
	</div>
</div>
