.app {
	position: relative;
	width: 100%;
	padding-left: $sidebar-width;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	left: 0;
	background-color: $color-bg;
	box-shadow: 0 0 3px #ccc;
	overflow: hidden;

	.content {

		$padding-x: $content-padding-x-md;
		$padding-y: $content-padding-y-md;

		//padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		min-height: 100vh;

		padding: $header-height 0 $footer-height 0 !important;
		width: 100% !important;
		height: 100% !important;
		overflow: hidden !important;

		.app-breadcrumb{

			.breadcrumb{
				margin-bottom: 0 !important;
				background: #fff;
				box-shadow: 0 0 10px rgba(0,0,0,0.2);
				border-radius: 0 !important;
			}

			a{
				color: $color-primary;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}

		@include media-up(xl) {
			$padding-x: $content-padding-x-xl;
			$padding-y: $content-padding-y-xl;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media(lg) {
			$padding-x: $content-padding-x-lg;
			$padding-y: $content-padding-y-lg;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media(md) {
			$padding-x: $content-padding-x-md;
			$padding-y: $content-padding-y-md;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media-down(sm) {
			$padding-x: $content-padding-x-sm;
			$padding-y: $content-padding-y-sm;

			padding: $header-height-xs + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}
	}


	@include media-down(md) {
		padding-left: 0;
		// background-color: #ccc;
		// left: -$sidebar-width;
		// width: calc(100% + #{$sidebar-width});
	}

	&.sidebar-open {
		// Disable content scrolling when sidebar is open
		@include media-down(md) {
			left: 0;
			// position: absolute;
			// height: 100%;
			// overflow: hidden;
		}
	}

	&.sidebar-collapsed {

		padding-left: 0;

		.sidebar {
			left: -100%;
		}

		.header, .footer{
			left: 0;
		}
	}

	&.blank {
		background-color: #667380;
	}

}

.main-container {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
	position: relative;

	&.normal-content{
		overflow: auto;
	}
}

.common-wrapper {
	width: 100%;
	height: 100%;
	position: relative;

	.content-wrapper {
		height: 100%;
		position: absolute;
		right:0;
		top:0;
		bottom: 0;
		left: 0;
		border:1px solid $app-border-color;
		background: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		iframe{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.ebook-container {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
	position: relative;
}

.ebook-wrapper {
	width: 100%;
	height: 100%;
	position: relative;

	.catalog-wrapper {
		width: 250px;
		height: 100%;
		position: relative;
		background: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	.catalog-header{
		border-bottom: 1px solid $app-border-color;
		width: 100%;

		h3{
			color: #fff;
			background: $color-primary;
			font-size: 16px;
			text-align: center;
			height: 32px;
			line-height: 32px;
			margin: 0;
			padding: 0;
		}

		.catalog-options{
			padding: 10px;
			text-align: center;
			border: 1px solid $app-border-color;
			border-top: 0;
			border-bottom: 0;

			.btn{
				margin: 0 10px 0 0;
			}

			.btn-sm{
				padding: 4px 8px;
			}
		}
	}

	.catalog-list-wrapper{
		overflow: auto;
		width: 100%;
		position: absolute;
		left:0;
		top:80px;
		right:0;
		bottom: 0;
		border: 1px solid $app-border-color;
	}

	.content-wrapper {
		height: 100%;
		position: absolute;
		right:0;
		top:0;
		bottom: 0;
		left: 260px;
		border:1px solid $app-border-color;
		background: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		iframe{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.jstree-default .jstree-clicked {
	color: $color-primary;
}
