.app {
	position: relative;
	width: 100%;
	padding-left: $sidebar-width;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	left: 0;
	background-color: $color-bg;
	box-shadow: 0 0 3px #ccc;
	transition: left 0.3s ease, padding-left 0.3s ease;
	overflow: hidden;

	.content {

		$padding-x: $content-padding-x-md;
		$padding-y: $content-padding-y-md;

		//padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		min-height: 100vh;

		padding: $header-height 0 $footer-height 0 !important;
		width: 100% !important;
		height: 100% !important;
		overflow: hidden !important;

		.app-breadcrumb{

			.breadcrumb{
				margin-bottom: 0 !important;
			}

			a{
				color: $color-primary;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}

		@include media-up(xl) {
			$padding-x: $content-padding-x-xl;
			$padding-y: $content-padding-y-xl;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media(lg) {
			$padding-x: $content-padding-x-lg;
			$padding-y: $content-padding-y-lg;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media(md) {
			$padding-x: $content-padding-x-md;
			$padding-y: $content-padding-y-md;

			padding: $header-height + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media-down(sm) {
			$padding-x: $content-padding-x-sm;
			$padding-y: $content-padding-y-sm;

			padding: $header-height-xs + $padding-y $padding-x $footer-height + $padding-y $padding-x;
		}
	}


	@include media-down(md) {
		padding-left: 0;
		// background-color: #ccc;
		// left: -$sidebar-width;
		// width: calc(100% + #{$sidebar-width});
	}

	&.sidebar-open {
		// Disable content scrolling when sidebar is open
		@include media-down(md) {
			left: 0;
			// position: absolute;
			// height: 100%;
			// overflow: hidden;
		}
	}

	&.sidebar-collapsed {

		padding-left: 0;

		.sidebar {
			left: -100%;
		}

		.header, .footer{
			left: 0;
		}
	}

	&.blank {
		background-color: #667380;
	}

}

.main-container {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 10px $footer-height + 10px 10px;
	overflow: hidden;
	position: relative;

	&.normal-content{
		overflow: auto;
	}
}

.common-wrapper {
	width: 100%;
	height: 100%;
	position: relative;

	.content-wrapper {
		height: 100%;
		position: absolute;
		right:0;
		top:0;
		bottom: 0;
		left: 0;
		border:1px solid $app-border-color;

		iframe{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
