<footer class="footer">

	<div class="footer-block author">
		<ul>
			<li>
				created by
				<a href="http://www.servision.com.cn" target="_blank">上海事成软件股份有限公司</a>
			</li>
		</ul>
	</div>
</footer>
