<aside class="sidebar" id="sidebar">
	<div class="sidebar-container">


		<div class="menu-wrapper">
      <nav class="menu">
        <ul class="sidebar-menu metismenu" id="sidebar-menu">

          <li {{#is pagename "===" "dashboard"}}class="active"{{/is}} >
            <a href="index.html">
              <i class="fa fa-home"></i> 首页
            </a>
          </li>

          <li {{#is pagename "===" "ebook"}}class="active"{{/is}} >
            <a href="ebook.html">
              <i class="fa fa-file-text-o"></i> Ebook
            </a>
          </li>

          <li {{#is pagename "in" "items-list,item-editor"}}class="active open"{{/is}} >

            <a href="">
              <i class="fa fa-th-large"></i> Items Manager
              <i class="fa arrow"></i>
            </a>

            <ul class="sidebar-nav">
              <li {{#is pagename "===" "items-list"}}class="active"{{/is}} >
                <a href="items-list.html">
                  Items List
                </a>
              </li>

              <li {{#is pagename "===" "item-editor"}}class="active"{{/is}} >
                <a href="item-editor.html">
                  Item Editor
                </a>
              </li>
            </ul>
          </li>

          <li {{#is pagename "in" "charts-flot,charts-morris"}}class="active open"{{/is}} >
            <a href="">
              <i class="fa fa-area-chart"></i> Charts
              <i class="fa arrow"></i>
            </a>

            <ul class="sidebar-nav">
              <li {{#is pagename "===" "charts-flot"}}class="active"{{/is}} >
                <a href="charts-flot.html">
                  Flot Charts
                </a>
              </li>

              <li {{#is pagename "===" "charts-morris"}}class="active"{{/is}} >
                <a href="charts-morris.html">
                  Morris Charts
                </a>
              </li>
            </ul>
          </li>

          <li {{#is pagename "in" "static-tables,responsive-tables"}}class="active open"{{/is}} >
            <a href="">
              <i class="fa fa-table"></i> Tables
              <i class="fa arrow"></i>
            </a>

            <ul class="sidebar-nav">
              <li {{#is pagename "===" "static-tables"}}class="active"{{/is}} >
                <a href="static-tables.html">
                  Static Tables
                </a>
              </li>

              <li {{#is pagename "===" "responsive-tables"}}class="active"{{/is}} >
                <a href="responsive-tables.html">
                  Responsive Tables
                </a>
              </li>

            </ul>
          </li>

          <li {{#is pagename "===" "forms"}}class="active"{{/is}} >
            <a href="forms.html">
              <i class="fa fa-pencil-square-o"></i> Forms
            </a>
          </li>

          <li {{#is pagename "in" "buttons,grid,icons,cards,typography"}}
          class="active open"
          {{/is}} >
            <a href="">
              <i class="fa fa-desktop"></i> UI Elements
              <i class="fa arrow"></i>
            </a>

            <ul class="sidebar-nav">
              <li {{#is pagename "===" "buttons"}}class="active"{{/is}}>
                <a href="buttons.html">
                  Buttons
                </a>
              </li>

              <li {{#is pagename "===" "cards"}}class="active"{{/is}}>
                <a href="cards.html">
                  Cards
                </a>
              </li>

              <li {{#is pagename "===" "typography"}}class="active"{{/is}}>
                <a href="typography.html">
                  Typography
                </a>
              </li>

              <li {{#is pagename "===" "icons"}}class="active"{{/is}}>
                <a href="icons.html">
                  Icons
                </a>
              </li>

              <li {{#is pagename "===" "grid"}}class="active"{{/is}}>
                <a href="grid.html">
                  Grid
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href="">
              <i class="fa fa-sitemap"></i> Menu Levels
              <i class="fa arrow"></i>
            </a>

            <ul class="sidebar-nav">

              <li>
                <a href="#">
                  Second Level Item
                  <i class="fa arrow"></i>
                </a>

                <ul class="sidebar-nav">

                  <li>
                    <a href="#">
                      Third Level Item
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      Third Level Item
                    </a>
                  </li>

                </ul>
              </li>

              <li>
                <a href="#">
                  Second Level Item
                </a>
              </li>

              <li>
                <a href="#">
                  Second Level Item
                  <i class="fa arrow"></i>
                </a>

                <ul class="sidebar-nav">

                  <li>
                    <a href="#">
                      Third Level Item
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      Third Level Item
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      Third Level Item
                      <i class="fa arrow"></i>
                    </a>

                    <ul class="sidebar-nav">

                      <li>
                        <a href="#">
                          Fourth Level Item
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          Fourth Level Item
                        </a>
                      </li>
                    </ul>

                  </li>
                </ul>
              </li>

            </ul>
          </li>

        </ul>
      </nav>
    </div>

    {{> app/_common/sidebar/header/header}}

  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
