<aside class="sidebar" id="sidebar">
  <div class="sidebar-container">
    <div class="menu-wrapper">
      <nav class="menu">
        <ul class="sidebar-menu metismenu" id="sidebar-menu">

          <li {{#is pagename "===" "dashboard"}}class="active"{{/is}} >
            <a href="index.html">
              <i class="fa fa-photo"></i> 电路图册
            </a>
          </li>

          <li {{#is pagename "===" "service-manual"}}class="active"{{/is}} >
            <a href="service-manual.html">
              <i class="fa fa-wrench"></i> 维修手册
            </a>
          </li>

          <li {{#is pagename "===" "user-manual"}}class="active"{{/is}} >
            <a href="user-manual.html">
              <i class="fa fa-user"></i> 用户手册
            </a>
          </li>

          <li {{#is pagename "===" "hours-manual"}}class="active"{{/is}} >
            <a href="hours-manual.html">
              <i class="fa fa-clock-o"></i> 工时手册
            </a>
          </li>

          <li {{#is pagename "===" "special-tools"}}class="active"{{/is}} >
            <a href="special-tools.html">
              <i class="fa fa-briefcase"></i> 专用工具
            </a>
          </li>

          <li {{#is pagename "===" "epc"}}class="active"{{/is}} >
            <a href="epc.html">
              <i class="fa fa-paper-plane-o"></i> 电子配件目录（EPC）
            </a>
          </li>

          <li {{#is pagename "in" "charts-flot,charts-morris"}}class="active open"{{/is}} >
            <a href="">
              <i class="fa fa-area-chart"></i> 统计图表
              <i class="fa arrow"></i>
            </a>

            <ul class="sidebar-nav">
              <li {{#is pagename "===" "charts-flot"}}class="active"{{/is}} >
                <a href="charts-flot.html">
                  Flot 图表
                </a>
              </li>

              <li {{#is pagename "===" "charts-morris"}}class="active"{{/is}} >
                <a href="charts-morris.html">
                  Morris 图表
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

	  {{> app/_common/sidebar/header/header}}

  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
