---
layout: app/app-layout
pagename: special-tools
---
<nav aria-label="breadcrumb" class="app-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="special-tools.html">专用工具</a></li>
    <li class="breadcrumb-item active" aria-current="page">长江EV G08维修手册</li>
  </ol>
</nav>

<section class="section main-container">
  <div class="ebook-wrapper">
    <div class="catalog-wrapper">
      <div class="catalog-header">
        <h3>目录列表</h3>
        <div class="catalog-options">
          <button type="button" class="btn btn-sm btn-secondary" id="btn-open-all"><i class="fa fa-expand"></i> 全部展开</button>
          <button type="button" class="btn btn-sm btn-secondary" id="btn-close-all"><i class="fa fa-compress"></i> 全部收起</button>
        </div>
      </div>
      <div class="catalog-list-wrapper">
        <div class="catalog-list" id="ebook-catalog"></div>
      </div>
    </div>
    <div class="content-wrapper">
      <iframe src="" frameborder="no" border="0" id="ebook-iframe"></iframe>
    </div>
  </div>
</section>
