---
layout: auth/auth-layout
themeTitle: 上海事成软件股份有限公司
---
<div class="auth-container">
	<div class="card">
		<header class="auth-header">
			<h1 class="auth-title">
				{{> _common/logo/logo}}
			</h1>
		</header>
		<div class="auth-content">
			<form id="signup-form" novalidate>
				<div class="form-group">
                  <label for="email" >用户名</label>
                  <input type="text" class="form-control underlined" name="username" id="username" placeholder="请输入您的用户名" required="">
				</div>
				<div class="form-group">
					<label for="email" >邮箱</label>
					<input type="email" class="form-control underlined" name="email" id="email" placeholder="请输入您的邮箱" required="">
				</div>
				<div class="form-group">
					<label for="password" >密码</label>
					<div class="row">
						<div class="col-sm-6">
							<input type="password" class="form-control underlined" name="password" id="password"
									placeholder="请输入密码" required="">
						</div>
						<div class="col-sm-6">
							<input type="password" class="form-control underlined" name="retype_password" id="retype_password"
								placeholder="请再次输入密码" required="">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="agree">
						<input class="checkbox" name="agree" id="agree" type="checkbox" required="">
						<span>同意<a href="#" style="position: relative;top: 1px;">条款和政策</a></span>
					</label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-block btn-primary">注册</button>
				</div>
				<div class="form-group">
					<p class="text-muted text-center">已有注册账户？ <a href="login.html">登录</a></p>
				</div>
			</form>
		</div>
	</div>
</div>
