---
layout: app/app-layout
pagename: ebook
---
<div class="title-block">
	<h3 class="title">
		Charts Flot 
	</h3>
	<p class="title-description">
		List of sample charts with custom colors
	</p>
</div>

<section class="section ebook-layout">
  <div class="ebook-wrapper">
    <div class="catalog-wrapper">
      <div class="catalog-inner-wrapper">
        <div class="catalog" id="ebook-catalog"></div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content-inner-wrapper">
        <iframe frameborder="no" border="0">

        </iframe>
      </div>
    </div>
  </div>

</section>