---
layout: app/app-layout
pagename: dashboard
---
<nav aria-label="breadcrumb" class="app-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">电路图册</a></li>
    <li class="breadcrumb-item active" aria-current="page">长江互动电路图</li>
  </ol>
</nav>

<section class="section main-container">
  <div class="common-wrapper">
    <div class="content-wrapper">
      <iframe src="./assets/modules/schematic/index.html" frameborder="no" border="0"></iframe>
    </div>
  </div>
</section>
