---
layout: app/app-layout
pagename: dashboard
---
<nav aria-label="breadcrumb" class="app-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">首页</li>
  </ol>
</nav>

<section class="section main-container">
  <div class="common-wrapper">
    <div class="content-wrapper">
      <iframe src="https://www.baidu.com/" frameborder="no" border="0" id="ebook-iframe"></iframe>
    </div>
  </div>
</section>
