---
layout: app/app-layout
pagename: charts-morris
---
<nav aria-label="breadcrumb" class="app-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">统计图表</a></li>
    <li class="breadcrumb-item active" aria-current="page">Morris 图表</li>
  </ol>
</nav>

<div class="main-container normal-content">

  <section class="section">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">

            <div class="card-title-block">
              <h3 class="title">
                Area Chart Example
              </h3>
            </div>

            <section class="example">

              <div id="morris-area-chart"></div>

            </section>

          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card">
          <div class="card-block">

            <div class="card-title-block">
              <h3 class="title">
                Bar Chart Example
              </h3>
            </div>

            <section class="example">

              <div id="morris-bar-chart"></div>

            </section>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">

            <div class="card-title-block">
              <h3 class="title">
                Line Chart Example
              </h3>
            </div>

            <section class="example">

              <div id="morris-line-chart"></div>

            </section>

          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card">
          <div class="card-block">

            <div class="card-title-block">
              <h3 class="title">
                Donut Chart Example
              </h3>
            </div>

            <section class="example">
              <div id="morris-donut-chart"></div>
            </section>

          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title-block">
              <h3 class="title">
                Simple one line Example
              </h3>
            </div>

            <section class="example">

              <div id="morris-one-line-chart"></div>

            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
